<svg>
  <g class='lines'>
    <line ng-repeat='point in points track by $index' 
      ng-attr-stroke-width='{{point.strokeWidth}}'
      ng-attr-stroke='{{point.stroke}}'
      ng-attr-x1='{{point.cx}}'  
      ng-attr-y1='{{point.cy}}'  
      ng-attr-x2='{{ points[$index - 1] ? points[$index - 1].cx : point.cx }}'
      ng-attr-y2='{{ points[$index - 1] ? points[$index - 1].cy : point.cy }}'
    /> 
  </g>

  <g class='left-ticks'>
    <line class='border'
          ng-repeat='tick in ticks' 
          ng-attr-x1='{{leftLimit}}'
          ng-attr-y1='{{tick.value}}'
          ng-attr-x2='{{leftLimit - 5}}'
          ng-attr-y2='{{tick.value}}' />
    <text class='label side-label' ng-repeat='tick in ticks' ng-attr-x='{{leftLimit - 7}}' ng-attr-y='{{height - tick.value - 21}}'>
      {{ tick.text }} 
    </text>
  </g>

  <g class='bottom-ticks'>
    <line class='border' 
          ng-repeat='point in points' 
          ng-attr-x1='{{point.cx}}'
          ng-attr-y1='{{bottomLimit}}'
          ng-attr-x2='{{point.cx}}'
          ng-attr-y2='{{bottomLimit + 5}}' />
    <text class='label' ng-repeat='point in points' ng-attr-x='{{point.cx}}' ng-attr-y='{{bottomLimit + 15 }}'> {{point.label}} </text>
  </g>
  <g class='axes'>
  <line class='border' ng-attr-x1='{{leftLimit}}' y1='0' ng-attr-x2='{{leftLimit}}' ng-attr-y2='{{bottomLimit}}' /> 
  <line class='border' ng-attr-x1='{{leftLimit}}' ng-attr-y1='{{bottomLimit}}' ng-attr-x2='{{rightLimit}}' ng-attr-y2='{{bottomLimit}}' /> 
  </g>
  <g class='datapoints' ng-transclude></g>
</svg>
